@use 'variables' as var;
@use 'mixins' as mix;

.header {
    background-color: var.$white;
    border-bottom: 1px solid var.$black;

    .nav {
        height: 55px;
        margin: 0 24px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        img {
            height: 55px;
        }

        input {
            border: 1px solid var.$black;
            border-radius: 15px;
            height: 30px;
            width: 175px;
            padding-left: 12px;

            @include mix.breakpoint-up(tablet) {
                width: 300px;
            }
        }
    }
}